<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerlinks}}
</head>

<body>
   {{>nav}}
  <!-- Main HEADER -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
          <figure>
              <img src="images/about.png" alt="techie" class="img-fluid" title="Techiee About">
          </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather app</p>
            <h1>I am a <span class="text_clr">ReactJs Developer</span> and a Techie</h1>
            <a href="./about.html"><button>About Me</button></a>
          </div>
          <!-- right side div -->
         
        </div>
      </div>
    </div>
  </div>

<!-- footer -->
{{>footer}}
</body>

</html>